@font-face {
    font-family: "Poppins bold";
    src: url('./fonts/Poppins-Bold.woff2') format("woff2"),
        url('./fonts/Poppins-Bold.woff') format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins medium";
    src: url('./fonts/Poppins-Medium.woff2') format("woff2"),
        url('./fonts/Poppins-Medium.woff') format("woff");
    font-weight: 500;
}

body {
    font-family: "Poppins medium";
    background-image: url('./img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    max-width: 500px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    font-size: 18px;
}

header {
    margin-block-start: 80px;
}

h1 {
    color: white;
    text-transform: uppercase;
    font-family: "Poppins bold";
    font-size: 36px;
}

h3 {
    color: #2F527B;
    font-size: 24px;
    margin: 0;
    margin-block-start: 32px;
}

.flag {
    width: 30%;
    height: 20%;
}

.main {
    position: relative;
    background-color: white;
    border-radius: 10px;
    padding-block: 64px;
    padding-inline: 48px;
    margin-block-end: 100px;
}

.image {
    width: 200px;
    position: absolute;
    top: -13%;
    left: 60%;
}

.logo {
    width: 200px;
    position: absolute;
    top: 0;
    left: 53.7%;
}

fieldset {
    border: none;
}

form {
    display: flex;
    flex-direction: column;
    padding: 0;
}

button {
    cursor: pointer;
}

button:hover:not(.try_again) {
    background-color: #f9a826;
    border: none;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-block-start: 24px;
    border-radius: 8px;
    padding-block: 16px;
    border: 2px solid #6066D0;
    color: #6066D0;
    background-color: white;
    font-weight: 500;
    font-size: 18px;
}

.buttons:nth-child(1)::before {
    content: " A ";
    padding-inline-start: 16px;
    padding-inline-end: 64px;
}

.buttons:nth-child(2)::before {
    content: " B ";
    padding-inline-start: 16px;
    padding-inline-end: 64px;
}

.buttons:nth-child(3)::before {
    content: " C ";
    padding-inline-start: 16px;
    padding-inline-end: 64px;
}

.buttons:nth-child(4)::before {
    content: " D ";
    padding-inline-start: 16px;
    padding-inline-end: 64px;
}

span {
    margin-block-start: 15px;
}

.rightAnswer {
    background-image: url('./icons/check_circle_outline-24px.svg');
    background-repeat: no-repeat;
    background-position: 97% 50%;
}

.wrongAnswer {
    background-image: url('./icons/highlight_off-24px.svg');
    background-repeat: no-repeat;
    background-position: 97% 50%;
}

.next {
    padding-block: 16px;
    padding-inline: 32px;
    border-radius: 8px;
    border: none;
    background-color: #f9a826;
    color: white;
    margin-block-start: 16px;
    margin-inline-start: 77%;
}

.container {
    background-color: white;
    border-radius: 24px;
    padding-block: 32px;
    padding-inline: 64px;
    text-align: center;
    margin-block-end: 80px;
}

.heading {
    font-size: 48px;
    color: #1D355D;
    margin-block-start: 64px;
}

.result {
    width: 250px;
    margin-block-start: 32px;
}

.good_guess {
    color: #53d16e;
    font-size: 32px;
    font-weight: 700;
    margin-inline: 8px;
}

.score {
    margin-block-start: -32px;
    color: #1D355D;
}

.try_again {
    padding-inline: 48px;
    padding-block: 16px;
    border: 2px solid #2F527B;
    border-radius: 10px;
    background-color: white;
    margin-block-start: 32px;
    color: #2F527B;
    font-weight: bold;
    font-size: 18px;
}

.wrongAnswer {
    background: #EA8282;

}